*{margin:0; padding:0; margin:auto}
body{
    font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;font: 300 11px/1.4 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #fff;
    background: #000;
    font-family: 'Playfair Display', serif;
    background: #000;
    font-family: 'Playfair Display', serif;
}
section{width:100%; height:auto;float:left}

#bio{background:rgb(15, 15, 15);}
#gallery{background:rgb(19, 18, 18);}
#film{background:black;}
#poem{background:rgb(7, 7, 7);}
#contact{background:black;}

nav{width:100%; position:fixed; z-index:1; top:80px;}

ul{width:fit-content; margin:auto; list-style:none;}

ul li{float:left; margin-right:30px;}

ul li a{color:#fff; text-decoration:none;}

ul li a:hover{text-decoration:underline;}

h1{color:#fff; text-align:center; margin-top:150px;}

div.bio {
    width:80%;
    margin:auto ;
    padding:10px ;
    border: 1px solid #ccc;
    height:500px
}
div p{
    text-align: center;
    margin:auto;
    font-size:20px;
}
img{
    width:200px; 
    height:200px;
}
.gallery-wrapper{
    width: 1000px;
    border:1px solid #ccc;
    margin :20px auto;
    overflow: hidden;

}
.gallery-wrapper .gallery-item {
    width:250px;
    padding:25px;
    float:left;
    margin-left:25px;
    border:1px solid #eee;
    margin-top: 20px;
    margin-bottom:20px;
    text-align: center;
}